:root {
	--keyColor: #cba6f7;
	--sidebarColor: #313244;
	--sidebarColorDark: #1e1e2e;
	--sidebarColorMix: #181825;
}
div#app {
	--color1: var(--sidebarColor);
	--color2: var(--sidebarColor);
	--bgColor: transparent;
	--bgWidth: 0px;
	--bgHeight: 0px;
	--chromeHeight: 55px;
	--keyColor: #cba6f7;
	width: 100%;
	height: 100%;
	background: var(--sidebarColor);
	color: white;
	user-select: none;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-size: 400% 400%;

	&.simplebg {
		background: var(--sidebarColor);
	}

	button:hover {
		.svg-icon {
			--color: var(--keyColor);
		}
	}

	.app-sidebar-footer {
		border: 0px;
	}

	.app-chrome {
		box-shadow: none;
		background-color: var(--sidebarColorDark);

		.app-chrome-item > .app-mainmenu {
			background: url(https://raw.githubusercontent.com/dracula/cider/main/Assets/logo.svg);
		}

		.app-chrome-item {
			&.volume {
				input[type='range'] {
					&::-webkit-slider-thumb {
						background: var(--keyColor);
					}
				}
			}
		}
	}

	.usermenu-item:hover {
		background: var(--keyColor);
	}

	.md-btn.md-btn-primary {
		background: var(--keyColor);
		color: white;
	}
}

#app-sidebar {
	background: var(--sidebarColorDark);
}

#app.twopanel {
	.app-chrome:not(.chrome-bottom)
		.app-chrome--center
		.top-nav-group
		.app-sidebar-item:before {
		background: var(--keyColor);
	}

	.app-chrome.chrome-bottom {
		background: var(--sidebarColorDark);
		box-shadow: none !important;
	}
}